.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: rgb(0, 195, 255);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(0, 119, 238);
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(53, 5, 227);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(54, 196, 248);
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(184, 12, 12);
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
  }

  #imagemErro {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }

  h1 {
    font-family: 'Anton', sans-serif;
    color: rgb(0, 143, 219); 
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-family: 'Anton', sans-serif;
    color: #161515; 
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  button{
    font-family: 'Oswald';
    padding: 20px 10px;
    font-size: 1.2em; 
    border-radius: 50px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }

  button.hover{
    background-color: #2c3e50; 
    color: white; 
    transform: scale(1.05); 
  }